* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  max-width: 400px;
  margin: auto;
}

#top {
  background-color: bisque;
  padding: 10px;
}

#cod {
  width: 40%;
}

#title {
  font-weight: bold;
  margin-top: 10px;
  width: 90%;
  border: none;
  border-bottom: 1px dashed #BBBBBB;
  background-color: bisque;
}

#controls {
  display: flex;
}

#list {
  padding: 10px;
}

.icon {
  width: 20px;
}

.icon-btn {
  width: 20px;
  margin-left: 20px;
}

table,
td,
th {
  border-bottom: 1px solid #cecece;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

td {
  padding: 3px;
}

tr {
  color: chocolate;
}

.last-td {
  text-align: right;
}

.checked_item {
  text-decoration: line-through;
  color: #BBBBBB;
}

#help {
  background-color: bisque;
  font-size: 0.7rem;
  padding: 10px;
}
#help li {
  margin-left: 10px;
}