#app {
  max-width: 400px;
  margin: auto;
  padding: 10px;
}

#top {
  position: fixed;
  top: 0;
  background-color: bisque;
  width: 100%;
  max-width: 400px;
  padding: 5px;
  margin:0;
}
#cod{
  max-width: 50%;
}
#title {
  font-weight: bold;
  margin-top: 5px;
}

#controls {
  display: flex;
}

#list {
  margin-top: 70px !important;
}

.icon {
  width: 20px;
}

.icon-btn {
  width: 20px;
  margin-left: 20px;
}

.checked_item {
  text-decoration: line-through;
  color: gray;
}
